<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bibliomap{% if entity is defined %} - {{ entity }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="UTF-8">
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
  <meta http-equiv="Expires" content="0" />
  <meta name="robot" content="all" />
  <meta name="description" content="{{ i18n.description }}" />
  <meta name="author" content="Inist-CNRS : EzTeam" />
  <meta name="keywords" content="inist,cnrs,bibliomap,ezpaarse,analogist,ezmesure,istex,bibcnrs,metrics,consultation,log,logs,couperin,insb,inc,inee,insis,inshs,in2p3,insmi,ins2i,insu,inp,ezteam" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ host }}" />
  <meta property="og:title" content="Bibliomap{% if entity is defined %} - {{ entity }}{% endif %}" />
  <meta property="og:description" content="{{ i18n.description }}" />
  <meta property="og:image" content="{{ host }}/public/images/bibliomap.png" />
  <meta property="og:language" content="{{ i18n.locale }}" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@ezpaarse" />
  <meta name="twitter:title" content="Bibliomap{% if entity is defined %} - {{ entity }}{% endif %}" />
  <meta name="twitter:description" content="{{ i18n.description }}" />
  <meta name="twitter:image" content="{{ host }}/public/images/bibliomap.png" />
  <meta name="twitter:url" content="{{ host }}" />
  <link rel="stylesheet" href="/node_modules/material-design-icons/iconfont/material-icons.css">
  <link rel="stylesheet" href="/node_modules/materialize-css/dist/css/materialize.min.css" />
  <link rel="stylesheet" href="/public/leaflet/leaflet.css" />
  <link rel="stylesheet" href="/public/css/L.Icon.Pulse.css">
  <link rel="stylesheet" href="/public/css/style.css">
</head>

  <a href="#" id="open-side" class="open-side">
    <i class="material-icons">keyboard_arrow_right</i>
  </a>  

  <!-- Map -->
  <div id="bibliomap-canvas"></div>
  <div id="outside-map" class="outside-map"></div>
  
  {% include "app/components/menu.html.twig" with params %}
  {% include "app/components/modal.html.twig" with entity %}
  {% include "app/components/legend.html.twig" with (entity, i18n) %}

  <div id="live" class="live">
    <span class="liveCircle"></span>
    <span class="liveText">Live</span>
  </div>

  <div id="brand" class="brand">
    <div class="main"><a href="https://github.com/ezpaarse-project/bibliomap">Bibliomap</a> {{ version }}</div>
    <div class="sub">{{ i18n.brand }} <a href="http://ezpaarse.couperin.org" target="_blank">ezPAARSE</a></div>
  </div>
      
  <div id="description" class="modal modal-fixed-footer">
    <div id="description-content" class="modal-content description">
      {% set locale = i18n.locale %}
      {% include entity ~ "/components/description.html.twig" with locale %}
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">{{ i18n.close }}</a>
    </div>
  </div>

  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/materialize-css/dist/js/materialize.min.js"></script>
  <script src="/public/leaflet/leaflet.js"></script>
  <script type="text/javascript" src="/public/js/init_composant.js"></script>
  <script type="text/javascript" src="/themes/{{ entity }}/index.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/public/js/L.Icon.Pulse.js"></script>
  <script type="text/javascript" src="/public/js/bubble.js"></script>

</body>
</html>