<!-- French part -->
{% if locale == "fr" %}
  <div class="row">
    <div class="col s12">
      <div class="top-description">
        <div class="header">
          <div class="logocnrs">
            <a href="http://www.cnrs.fr/" target="_blank">
              <img src="/themes/{{ entity }}/images/Logo80ANS_OR.svg" alt="CNRS">
            </a>
          </div>
          <div class="title">
          {% if locale == "fr" %}
            “La recherche ne s'arrête jamais”
          {% endif %}
          {% if locale == "en" %}
            “The search never stops”
          {% endif %}       
          </div>
        </div>
      </div>
    </div>

    <div class="col s12">
      <p class="justify-align">
        <strong>BiblioMap</strong> reflète les consultations en direct des
        membres du <a href="http://www.cnrs.fr/fr/organisme/presentation.htm" target="_blank">CNRS</a> des
        ressources numériques via le portail <a href="https://bib.cnrs.fr" target="_blank">bibCNRS</a>.
        Cet outil numérique mis à leur disposition permet d’accéder au texte intégral des articles de
        plusieurs milliers de revues scientifiques électroniques et à des bases de données bibliographiques.
      </p>

      <a href="https://bib.cnrs.fr" target="_blank">
        <img class="logo" src="/themes/cnrs/images/bibCnrs.png" alt="bibCNRS" width="100%">
      </a>

      <p class="justify-align">Les plateformes des portails d’accès spécialisés sont gérées par l'<a href="http://www.inist.fr" target="_blank">Inist-CNRS</a>.</p>

      <div class="col s6 center-align">
        <a href="http://ezpaarse.couperin.org" target="_blank"> 
          <img src="/themes/{{ entity }}/images/logo-ezpaarse.png" alt="ezPAARSE">
        </a>
      </div>

      <div class="col s6 center-align">
        <a href="http://analogist.couperin.org" target="_blank">
          <img src="/themes/{{ entity }}/images/logo-analogist.png" alt="analogIST">
        </a>
      </div>      
    </div>

    <div class="col s12">
      <p class="justify-align">
        Les visualisations disponibles dans
        <a href="https://github.com/ezpaarse-project/bibliomap" target="_blank">BiblioMap</a>
        sont rendues possible par l’utilisation d’<a href="http://ezpaarse.couperin.org" target="_blank">ezPAARSE</a>,
        un <a href="https://github.com/ezpaarse-project/ezpaarse" target="_blank">logiciel libre</a> développé
        conjointement par <a href="http://www.couperin.org/presentation" target="_blank">COUPERIN</a>,
        l'<a href="http://www.inist.fr" target="_blank">INIST-CNRS</a>
        et l’<a href="http://www.univ-lorraine.fr/" target="_blank">Université de Lorraine</a> comme site pilote.
        <a href="http://analogist.couperin.org/" target="_blank">AnalogIST</a> est le portail collaboratif de
        l’Enseignement Supérieur et Recherche dédié à la problématique de la mesure des usages des ressources
        électroniques.
        Les développements associés à cette collaboration sont disponibles sous forme de logiciel libre au
        sein d’<a href="https://github.com/ezpaarse-project/" target="_blank">ezPAARSE-project</a>.
      </p>
      <p class="justify-align">Remarque : la localisation des consultations apparaissant sur la carte est volontairement approximative.</p>
    </div>

    <div class="col s12">
      <div class="logos">
        <div class="threeLogos">
          <a href="http://www.couperin.org/" target="_blank">
        <img src="/themes/{{ entity }}/images/logo-couperin.jpg" alt="COUPERIN">
          </a>
        </div>
        <div class="threeLogos">
          <a href="http://www.cnrs.fr/" target="_blank">
        <img src="/themes/{{ entity }}/images/logo.svg" alt="CNRS">
          </a>
        </div>
        <div class="threeLogos">
          <a href="http://www.univ-lorraine.fr/" target="_blank">
        <img src="/themes/{{ entity }}/images/logo-universite-de-lorraine.png" alt="Université de Lorraine">
        </a>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- English part -->
{% if locale == "en" %}
  <div class="row">
    <div class="col s12">
      <div class="top-description">
        <div class="header">
          <div class="logocnrs">
            <a href="http://www.cnrs.fr/" target="_blank">
              <img src="/themes/{{ entity }}/images/Logo80ANS_OR-en.svg" alt="CNRS">
            </a>
          </div>
          <div class="title">“The search never stops”</div>
        </div>
      </div>
    </div>

    <div class="col s12">
      <p class="justify-align">
        <strong>BiblioMap</strong> reflects the online consultations of the
        members of the <a href="http://www.cnrs.fr/fr/organisme/presentation.htm" target="_blank">CNRS</a> des
        digital resources via the portal <a href="https://bib.cnrs.fr" target="_blank">bibCNRS</a>.
        This digital tool made available to them provides access to the full text of the articles of
        several thousand electronic scientific journals and bibliographic databases.
      </p>

      <p class="justify-align">Bibliographic research represents only a small part of the research work, and yet BiblioMap shows you that it never stops.</p>
    
      <a href="https://bib.cnrs.fr" target="_blank">
        <img class="logo" src="/themes/{{ entity }}/images/bibCnrs.png" alt="bibCNRS" width="100%">
      </a>

      <p class="justify-align">The platforms of the dedicated access portals are managed by <a href="http://www.inist.fr" target="_blank">Inist-CNRS</a>.</p>
    </div>

    <div class="col s6 center-align">
      <a href="http://ezpaarse.couperin.org" target="_blank"> 
        <img src="/themes/{{ entity }}/images/logo-ezpaarse.png" alt="ezPAARSE">
      </a>
    </div>

    <div class="col s6 center-align">
      <a href="http://analogist.couperin.org" target="_blank">
        <img src="/themes/{{ entity }}/images/logo-analogist.png" alt="analogIST">
      </a>
    </div>

    <div class="col s12">
      <p class="justify-align">
        The visualizations available in
        <a href="https://github.com/ezpaarse-project/bibliomap" target="_blank">BiblioMap</a>
        are made possible by the use of <a href="http://ezpaarse.couperin.org" target="_blank">ezPAARSE</a>,
        a <a href="https://github.com/ezpaarse-project/ezpaarse" target="_blank">free software</a> developed
        jointly by <a href="http://www.couperin.org/presentation" target="_blank">COUPERIN</a>,
        l <a href="http://www.inist.fr" target="_blank">INIST-CNRS</a>
        and the <a href="http://www.univ-lorraine.fr/" target="_blank">University of Lorraine</a> as a pilot site.
        <a href="http://analogist.couperin.org/" target="_blank">AnalogIST</a> is the collaborative portal of
        Higher Education and Research dedicated to the problem of measuring the use of resources
        electronic.
        The developments associated with this collaboration are available as free software at
        within <a href="https://github.com/ezpaarse-project/" target="_blank">ezPAARSE-project</a>.
      </p>
      <p class="justify-align">Note: The location of the consultations appearing on the map is deliberately approximate.</p>
    </div>

    <div class="col s12">
      <div class="logos">
        <div class="threeLogos">
          <a href="http://www.couperin.org/" target="_blank">
        <img src="/themes/{{ entity }}/images/logo-couperin.jpg" alt="COUPERIN">
          </a>
        </div>
        <div class="threeLogos">
          <a href="http://www.cnrs.fr/" target="_blank">
        <img src="/themes/{{ entity }}/images/logo.svg" alt="CNRS">
          </a>
        </div>
        <div class="threeLogos">
          <a href="http://www.univ-lorraine.fr/" target="_blank">
        <img src="/themes/{{ entity }}/images/logo-universite-de-lorraine.png" alt="Université de Lorraine">
        </a>
        </div>
      </div>
    </div>
  </div>
{% endif %}
